
@{
    ViewData["Title"] = "Register";
}

@section Style{

    <link rel="stylesheet" href="~/assets/scss/pages/registerpage/registerpage.css" />
}



<main>
    <section id="login">
        <div class="form-box">
            <div class="form-value">
                <form action="">

                    <h2>Register</h2>
                    <div class="inputbox">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" required>
                        <label for="">Fullname</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-solid fa-shield-halved"></i>
                        <input type="password" required>
                        <label for="">Confirm Password</label>
                    </div>
                    <button>Sign up</button>
                    <div class="register">
                        <p>Already have an account ? <a href="login.html">Sign In</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
