
@{
    ViewData["Title"] = "Blog Detail";
}

@section Style{

    <link rel="stylesheet" href="~/assets/scss/pages/blogdetailpage/blogdetailpage.css" />
}

<main>
    <section id="blog-detail">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="mainimage">
                    <img src="~/assets/image/blog-image-clock.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="blogdetail">
                    <h2>Inspiration: Rural Living</h2>
                    <span>By NordicMade on August 12, 2015</span>
                    <p>
                        By NordicMade on August 12, 2015
                        Meditation street art bitters keffiyeh Shoreditch. High Life roof party pour-over bitters,
                        vegan
                        Pitchfork ennui migas. Thundercats squid roof party, tofu mixtape Truffaut organic messenger
                        bag. Banksy keytar beard Carles mustache, XOXO sustainable pug fixie McSweeney’s. Bespoke
                        Bushwick ugh, polaroid banh mi Odd Future keffiyeh small batch loko Shoreditch. Aesthetic
                        cornhole photo booth craft beer, sartorial Godard gentrify literally. Biodiesel cliche
                        dollar
                        toast hella, Blue Bottle tofu narwhal cronut.

                        Godard single-origin coffee viral gluten-free craft beer biodiesel. Keffiyeh Pinterest
                        umami,
                        loko tattooed Truffaut roof party synth put a bird on it stumptown Vice jean shorts squid.
                        Vinyl
                        asymmetrical Blue Bottle farm-to-table hoodie. Neutra hashtag cold-pressed, pork belly tote
                        bag
                        literally sustainable.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="blogimage">
                        <img src="~/assets/image/bloginspirationimg.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blogimage">
                        <img src="~/assets/image/blog-image-notebooks.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blogimage">
                        <img src="~/assets/image/blog-image-clock.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blogimage">
                        <img src="~/assets/image/blog-image-notebooks.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="comment">
                    <div class="tagname">
                        <span># feature</span>
                    </div>
                    <div class="categoryname">
                        <p>Posted in <a href="">Design</a>,<a href="">Inspiration</a>.</p>
                    </div>

                    <hr>

                </div>

            </div>
        </div>
    </section>
</main>

